*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(34, 55, 68);
    font-family: "Roboto", sans-serif;
    color: white;
    margin: auto;
    width: 80%;
}


header {
    height: 60px;
}
.logo {
    text-align: center;
    margin-top: 50px;
    font-size: 1.8em;
    font-weight: 500;
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}
p {
    font-size: 1em;
    font-weight: 400;
}
button {
    padding: 8px 15px;

    border: 2px white solid;
    border-radius: 30px;

    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: white;

    outline: none;
    cursor: pointer;

    background: none;

    transition: all 0.2s ease;
}
button:hover {
    background-color: rgb(30, 151, 221);
    border: 2px rgb(30, 151, 221) solid;
}




.mainConteneur {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    padding: 50px;
    background-color: rgb(22, 46, 61);
    border-radius: 20px;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
}



.addMovie {
    width: 100%;

    padding: 50px;
    background-color: rgb(18, 37, 49);
    border-radius: 20px;

}
.addMovie form {
    margin-left: 30px;
    margin-top: 40px;
}
.addMovie label {
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 10px;
}

.addMovie input {
    padding: 5px 20px;
    border-radius: 30px;
    outline: none;

    width: 50%;

    border: 3px rgb(18, 37, 49) solid; 
    
    font-family: "Roboto", sans-serif;
    color: rgb(22, 46, 61);
    font-size: 1.2em;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 20px;

    transition: all 0.2s ease;

}
.addMovie input:focus {
    border: 3px rgb(30, 151, 221) solid;
}


.randomMovie {
    width: 40%;
    height: 200px;

    margin-left: 30px;

    padding: 50px;
    background-color: rgb(18, 37, 49);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.randomMovie p
{
    display: block;
    padding: 10px;
    margin-bottom: 30px;

    font-size: 1.2em;
}





.movieConteneur {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 100px; 

    padding: 50px ;
    background-color: rgb(22, 46, 61);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}



.movieListConteneur {
    min-height: 200px;
    
    padding: 50px;
    background-color: rgb(18, 37, 49);
    border-radius: 20px;

    margin-bottom: 30px;
}


.movieListSeenConteneur {
    min-height: 200px;

    padding: 50px;
    background-color: rgb(18, 37, 49);
    border-radius: 20px;

}





.movieItem {
    width: 95%;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px 20px 5px 30px;

    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(34, 86, 119);
}
.movieItem h3 {
    font-size: 1.2em;
    font-weight: 500;
}
.movieItemButtons button
{
    font-size: 1em;
}




.movieListNoneText, .movieListSeenNoneText {
    margin-left: 20px;
}