*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    color: rgb(24, 24, 24);
    margin: auto;
    width: 80%;
}


header {
    height: 60px;
}
.logo {
    text-align: center;
    margin-top: 50px;
    font-size: 1.8em;
    font-weight: 500;
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}
p {
    font-size: 1em;
    font-weight: 400;
}
button {
    padding: 8px 15px;

    border: none;
    border-radius: 10px;

    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: rgb(48, 48, 48);

    outline: none;
    cursor: pointer;

    background: none;

    transition: all 0.1s ease;
}
button:hover {
    background-color: rgb(224, 224, 224);
    
}




.mainConteneur {
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    background-color: rgb(206, 206, 206);
    border-radius: 20px;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

/*  --------------------------------------------------------------------  */
/*  ----------------------- Ajouter un film ----------------------------  */
/*  --------------------------------------------------------------------  */

.addMovie {
    width: 70%;
    background-color: rgb(243, 243, 243);

    border-radius: 20px 0px 0px 20px;

}
.addMovie h2 {
    
    padding: 15px 25px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px 0px 0px 0px;
    color: rgb(238, 151, 20);
    font-weight: 700;
}

.addMovie form {
    padding-left: 50px;
    margin-left: 30px;
    margin-top: 40px;
}
.addMovie label {
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 10px;
}
.addMovie input {
    padding: 8px 15px;
    border-radius: 12px;
    outline: none;
    background-color: rgb(255, 255, 255);

    border: none;

    width: 60%;
    
    font-family: "Roboto", sans-serif;
    color: rgb(22, 46, 61);
    font-size: 1.1em;
    font-weight: 400;

    margin-top: 10px;
    margin-bottom: 20px;

    transition: all 0.1s ease;

}
.addMovie input:focus {
    border: 2px rgb(230, 159, 54) solid;
}


/*  --------------------------------------------------------------------  */
/*  ------------------------ Film aléatoire ----------------------------  */
/*  --------------------------------------------------------------------  */


.randomMovie {
    width: 40%;
    height: 250px;

    background-color: rgb(230, 230, 230);
    border-radius: 0px 20px 20px 0px;
}
.randomMovie div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 8%;
}
.randomMovie h2 {
    padding: 15px 25px;

    background-color: rgb(221, 221, 221);
    border-radius: 0px 20px 0px 0px;
    color: rgb(22, 171, 230);
    font-weight: 700;
}

.randomMovie p
{
    height: 30px;
    width: 80%;
    padding: 10px 15px 2px 15px;
    margin-bottom: 20px;
    border-radius: 12px;

    text-align: center;

    background-color: white;

    font-size: 1.1em;
}
.randomMovie button:hover {
    background-color: rgb(209, 209, 209);
}


/*  --------------------------------------------------------------------  */
/*  -------------------------- Liste de film ---------------------------  */
/*  --------------------------------------------------------------------  */


.movieConteneur {
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 100px; 

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}

/*  --------------------------------------------------------------------  */
/*  ---------------------- Liste de film à voir ------------------------  */
/*  --------------------------------------------------------------------  */

.movieListConteneur {
    min-height: 200px;
    padding-bottom: 50px;
    
    background-color: rgb(236, 236, 236);
    border-radius: 20px 20px 0px 0px;

}
.movieListConteneur h2 {
    padding: 15px 25px;
    color: rgb(219, 51, 107);
    font-weight: 700;
    
    background-color: rgb(218, 218, 218);
    border-radius: 20px 20px 0px 0px;
    
}

/*  --------------------------------------------------------------------  */
/*  ------------------------ Liste de film vus -------------------------  */
/*  --------------------------------------------------------------------  */

.movieListSeenConteneur {
    min-height: 200px;
    padding-bottom: 50px;

    background-color: rgb(236, 236, 236);
    border-radius: 0px 0px 20px 20px;

}
.movieListSeenConteneur h2 {
    padding: 15px 25px;
    color: rgb(25, 180, 64);
    font-weight: 700;
    
    background-color: rgb(218, 218, 218);
    
}


/*  --------------------------------------------------------------------  */
/*  ------------------------ Conteneur de film -------------------------  */
/*  --------------------------------------------------------------------  */


.movieItem {
    width: 90%;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    padding: 0px 20px 0px 20px;

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);

    transition: all 0.1s ease;
}
.movieItem:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(238, 94, 142);
}
.movieListSeen div:hover {
    background-color: rgb(55, 165, 82);
}

.movieItemButtons button
{
    display: none;
    font-size: 1em;
    color: white;

}
.movieItemButtons button:hover {
    background-color: rgba(206, 206, 206, 0.5);
}

.movieItem:hover button {
    display: inline;
    
}



.movieItem h3 {
    font-size: 1.2em;
    font-weight: 500;
}






.movieListNoneText, .movieListSeenNoneText {
    margin-left: 20px;
}